.header-container {
    position:relative;
    top:0;
    width:960px;
    height:30px;
    margin:0 auto;
    background-color:#ffffff;
}

.name {
    position:absolute;
    top:60px;
    left:-30px;
    padding:20px 50px 20px 50px;
    background-color:#4aaaa5;
    color:#ffffff;
    line-height:30px;
    font-size:40px;
    font-family:'Georgia', Times, Times New Roman, serif;
}

.navigation {
    position:absolute;
    top:80px;
    right:-30px;
}

.navigation * {
    padding:0px;
    margin:0px;
}

.navigation li {
    list-style:none;
    float:left;
}

.navigation li a {
    width:100px;
    height:30px;
    padding:20px;
    text-decoration:none;
    color:#777777;
    text-align:center;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.navigation li a:hover {
    background-color:lightgray;
    color:#ffffff;
}

.container {
    position:relative;
    top:100px;
    height:700px;
    background-image: url("../images/what-the-hex.png");
    border-top:2px solid #cccccc;
}

.content {
    position:relative;
    top:30px;
    width:960px;
    height:500px;
    margin:0 auto;
    padding:30px;
    background-color:#ffffff;
    color:#777777;
    border:2px solid #dddddd;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height:1.5;
}

.content-header {
    font-family:'Georgia', Times, Times New Roman, serif;
    color:#4aaaa5;
}

#bio-image {
    width:200px;
    height:200px;
    padding-top:10px;
    padding-right:20px;
}

.form-label {
    padding:3px;   
}

#submitbutton {
    margin-top:5px;
    background-color:#4aaaa5;
    color:#ffffff;
    padding:10px 20px 10px 20px;
    border:1px solid #cccccc;
}

#submitbutton:hover {
    background-color:lightgray;
    color:#ffffff;
    border:2px solid lightgray;
}

.portfolio-box {
    float:left;
    width:200px;
    height:200px;
    line-height:200px;
    text-align:center;
    background-color:#4aaaa5;
    color:#ffffff;
}

.portfolio-box:hover {
    background-color:#ffffff;
    color:#777777;
}
